<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(object.errors.count, "error") %>
      uniemożliwone przez <%= object.class.to_s.underscore.humanize.downcase %>
      przed zapisaniem:
    </h2>
    <p>W następujących polach znaleziono błędy:</p>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  
<% end %>